.card-wrapper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 380px;
    width: 200px;
    display: flex;
    flex-direction: column;

    .movie-card {
        height: 85%;
        width: 100%;
        background-size: cover;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        justify-content: center;
        border: 5px solid rgb(79, 32, 32);
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        .quality {
            text-align: center;
            position: absolute;
            top: 20px;
            left: -45px;
            background-color: #461515c7;
            width: 100%;
            padding: 5px;
            transform: rotate(-30deg);
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            opacity: 0;

            img {
                height: 20px;
                width: 20px;
            }

            .rating,
            .genres {
                font-weight: bolder;
                color: white;
                
            }
            
            .rating {
                margin-top: 5px;
                letter-spacing: 5px;
            }
            
            .genres {
                text-align: center;
                margin-top: 15px;
            }

            .view-dtl {
                border-radius: 5px;
                color: white;
                font-weight: bold;
                padding: 10px;
                background-color: #6ac045;
                margin-top: 30px;

                &:hover {
                    cursor: pointer;
                    background-color: #6ac045bc;

                }

                &:active {
                    transform: translateY(3px);
                }
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.549);
                opacity: 1;
                border-radius: 5px;
                cursor: pointer;
            }

        }

        &:hover {
            border-color: #6ac045;
        }
    }

    .title {
        color: rgb(26, 17, 17);
    }

    .year {
        color: rgba(0, 0, 0, 0.517);
        font-weight: 100;
        font-size: .9em;
        letter-spacing: 2px;

    }
}